<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h2 class="mx-auto">Jobs Listing</h2>
  <div class="m-2">
    <span>total jobs: {{filteredJobs.length}} </span>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="sort('location')">Sort by Location</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="sort('experience')">Sort by Exp</button>
  </div>
  <div class="row">
    <input type="text" class="form-control m-2 col-md-3" [(ngModel)]="searchText" name="searchText" placeholder="Search by Skills">
    <select class="form-control m-2 col-md-3" (change)="selectChangeHandler($event)">
      <option value="" disabled selected>Experience</option>
      <option *ngFor="let exp of experience" value={{exp}}>
        {{exp}}
      </option>
    </select>&nbsp;
    <input type="text" class="form-control m-2 col-md-3" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search by Location">
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let job of filteredJobs">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <ul>
            <li>Jobtitle: {{job.title}}</li>
            <li>Company: {{job.companyname}}</li>
            <li>Experience: {{job.experience}}</li>
            <li>Location: {{job.location}}</li>
            <li>Salary: {{job.salary}}</li>
            <li>Type: {{job.type}}</li>
            <li>Skills: {{job.skills}}</li>
            <li>Start Date: {{job.startdate}}</li>
            <li>End Date: {{job.enddate}}</li>
            <li>Apply Link: {{job.applylink}}</li>
            <li>Source: {{job.source}}</li>
          </ul>
        </div>
      </div>
      <br>
      <br>
    </div>

  </div>
</div>
